<ion-view view-title="{{testName}}">
  <ion-content ng-if="!showResult">
  test2
    <p>{{questTitle}}</p>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="answer in answers" type="item-text-wrap" ng-click="select(answer.id, step, answer.points)">
        <i class="icon ion-chevron-right icon-accessory"></i>
        <p>{{answer.title}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-content ng-if="showResult">

      <h1 style="margin-top:100px;">{{resultContent}}</h1>   

  </ion-list>
</ion-view>
